<div class="block">
  <div class="block-title">
    <label>Hidden terms</label>
    <i class="fa fa-info-circle" title="Hidden terms are commonly used on the labour market to refer to a concept but are at the same time considered as outdated, misspelled or politically incorrect. Therefore, they are invisible for the end-user."></i>
  </div>
  <div class="block-content">
    {{#each hiddenTerms as |term index|}}
      {{translate-hiddenterm term=term concept=concept roles=roles allowDelete=true index=index sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveHiddenTerm="saveHiddenTerm" removeHiddenTerm="removeHiddenTerm"
      saveSource="saveSource" displaySuggestions=false showQuest=showQuest showSource=showSource disableShortcuts=disableShortcuts}}
    {{/each}}

    {{#if showPlus}}
      {{#if newField}}
        {{translate-hiddenterm term=newTerm concept=concept roles=roles allowDelete=false index="new" sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveHiddenTerm="saveNewHiddenTerm" removeHiddenTerm="removeNewHiddenTerm"
        saveSource="saveNewSource" displaySuggestions=displaySuggestions showQuest=showQuest showSource=showSource disableShortcuts=disableShortcuts}}

      {{/if}}
      <div class='action'>
      <button type="button" class="add" {{action 'showNewField'}}>+</button>
    </div>
    {{else}}
      {{translate-hiddenterm term=newTerm concept=concept roles=roles allowDelete=false index="new" sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveHiddenTerm="saveNewHiddenTerm" removeHiddenTerm="removeNewHiddenTerm"
      saveSource="saveNewSource" displaySuggestions=displaySuggestions showQuest=showQuest showSource=showSource disableShortcuts=disableShortcuts}}
    {{/if}}
  </div>
</div>
