<div class="block">
  <div class="block-title">
    <label>Non-preferred terms</label>
    <i class="fa fa-info-circle" title="Non-preferred terms can be synonyms (words with similar or same meanings) but can also be spelling variants, declensions, abbreviations, etc. They are regularly used by the target group (jobseekers, employers, education institutions) to refer to concepts that are described in ESCO with the preferred term."></i>
  </div>
  <div class="block-content">
    {{#each altTerms as |term index|}}
      {{translate-altterm term=term concept=concept prefTerms=prefTerms altTerms=altTerms roles=roles allowDelete=true index=index
      sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveAltTerm="saveAltTerm" removeAltTerm="removeAltTerm"
      saveSource="saveSource" displaySuggestions=false showQuest=showQuest showSource=showSource disableShortcuts=disableShortcuts}}
    {{/each}}

    {{#if showPlus}}
      {{#if newField}}
        {{translate-altterm term=newTerm concept=concept prefTerms=prefTerms altTerms=altTerms roles=roles allowDelete=false index="new"
        sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveAltTerm="saveNewAltTerm"
        removeAltTerm="removeNewAltTerm" saveSource="saveNewSource" displaySuggestions=displaySuggestions showQuest=showQuest
        showSource=showSource disableShortcuts=disableShortcuts}}
      {{/if}}
      <div class='action'>
        <button type="button" class="add" {{action 'showNewField'}}></button>
      </div>
    {{else}}
      {{translate-altterm term=newTerm concept=concept prefTerms=prefTerms altTerms=altTerms roles=roles allowDelete=false index="new"
      sourceLanguage=sourceLanguage targetLanguage=targetLanguage translationDisabled=translationDisabled saveAltTerm="saveNewAltTerm"
      removeAltTerm="removeNewAltTerm" saveSource="saveNewSource" displaySuggestions=displaySuggestions showQuest=showQuest
      showSource=showSource disableShortcuts=disableShortcuts}}
    {{/if}}
  </div>
</div>
